MONGO_URL=mongodb+srv://YOUR_USER:YOUR_PASSWORD@cluster0.mongodb.net/trackeasy?retryWrites=true&w=majority
JWT_SECRET=change_this_secret_key
PORT=8080
CLIENT_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
PEXELS_API_KEY=your_pexels_api_key
