MONGO_URL=mongodb+srv://bahar:Test1234@simple-api-users.ppjtm2a.mongodb.net/authenticateDatabase?retryWrites=true&w=majority&appName=simple-API-users
JWT_SECRET=sJ4X1qO4!oB
PORT=8080
CLIENT_URL=http://localhost:3000


